/* styles.css */

.headline {
  font-family: "Manufacturing Consent", system-ui;
  font-weight: 400;
  font-style: normal;
}

h3 {
  font-family: "Manufacturing Consent", system-ui;
  font-weight: 400;
  font-style: normal;
}

p {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 500;
  font-style: normal;;
}

