/* styles.css */

.headline {
  font-family: "Manufacturing Consent", system-ui;
  font-weight: 400;
  font-style: normal;
}

h1{
  font-family: "Manufacturing Consent", system-ui;
  font-weight: 400;
  font-style: normal;
}

